@import '../../styles/settings.scss';

.rectangle {
    height: 100px;
    width: 150px;
    border-radius: 8px;
    margin: 15px;

    &:hover {
        border: #fff solid 2px;
    }
}

.delete {
    cursor: pointer;

    &:hover {
        color: #ff6666;
        font-weight: bold;
    }
}

.noActive {
    display: none;
}