.form {
    text-align: center;
    margin-top: 50px;
    line-height: 40px;
}

.label {
    font-size: 20px;
}

.input {
    padding: 5px;
    margin: 20px;
    border-radius: 10px;

    &:invalid {
        border: red solid 3px;
    }
}
